In [1]:
pip install pandas

Requirement already satisfied: pandas in /usr/local/Cellar/jupyterlab/2.2.9_1/libexec/lib/python3.9/site-packages (1.2.0)
Requirement already satisfied: pytz>=2017.3 in /usr/local/Cellar/jupyterlab/2.2.9_1/libexec/lib/python3.9/site-packages (from pandas) (2020.5)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/Cellar/jupyterlab/2.2.9_1/libexec/lib/python3.9/site-packages (from pandas) (2.8.1)
Requirement already satisfied: numpy>=1.16.5 in /usr/local/Cellar/jupyterlab/2.2.9_1/libexec/lib/python3.9/site-packages (from pandas) (1.19.5)
Requirement already satisfied: six>=1.5 in /usr/local/Cellar/jupyterlab/2.2.9_1/libexec/lib/python3.9/site-packages (from python-dateutil>=2.7.3->pandas) (1.15.0)
WARNING: You are using pip version 20.2.4; however, version 20.3.3 is available.
You should consider upgrading via the '/usr/local/Cellar/jupyterlab/2.2.9_1/libexec/bin/python -m pip install --upgrade pip' command.
Note: you may need to restart the kernel to use updated packages.

In [2]:
import pandas as pd
import numpy as np

In [3]:
data = pd.read_csv('marketing_customer_analysis.csv')

In [4]:
data.shape

(9134, 24)

In [5]:
cols = []
for i in range(len(data.columns)):
    cols.append(data.columns[i].lower())

In [6]:
data.columns = cols
data.head()

,customer,state,customer lifetime value,response,coverage,education,effective to date,employmentstatus,gender,income,...,months since policy inception,number of open complaints,number of policies,policy type,policy,renew offer type,sales channel,total claim amount,vehicle class,vehicle size
0,BU79786,Washington,2763.519279,No,Basic,Bachelor,2/24/11,Employed,F,56274,...,5,0,1,Corporate Auto,Corporate L3,Offer1,Agent,384.811147,Two-Door Car,Medsize
1,QZ44356,Arizona,6979.535903,No,Extended,Bachelor,1/31/11,Unemployed,F,0,...,42,0,8,Personal Auto,Personal L3,Offer3,Agent,1131.464935,Four-Door Car,Medsize
2,AI49188,Nevada,12887.431650,No,Premium,Bachelor,2/19/11,Employed,F,48767,...,38,0,2,Personal Auto,Personal L3,Offer1,Agent,566.472247,Two-Door Car,Medsize
3,WW63253,California,7645.861827,No,Basic,Bachelor,1/20/11,Unemployed,M,0,...,65,0,7,Corporate Auto,Corporate L2,Offer1,Call Center,529.881344,SUV,Medsize
4,HB64268,Washington,2813.692575,No,Basic,Bachelor,2/3/11,Employed,M,43836,...,44,0,1,Personal Auto,Personal L1,Offer1,Agent,138.130879,Four-Door Car,Medsize

In [7]:
data.dtypes

customer                          object
state                             object
customer lifetime value          float64
response                          object
coverage                          object
education                         object
effective to date                 object
employmentstatus                  object
gender                            object
income                             int64
location code                     object
marital status                    object
monthly premium auto               int64
months since last claim            int64
months since policy inception      int64
number of open complaints          int64
number of policies                 int64
policy type                       object
policy                            object
renew offer type                  object
sales channel                     object
total claim amount               float64
vehicle class                     object
vehicle size                      object
dtype: object

In [8]:
#Numerical 
data.describe()

,customer lifetime value,income,monthly premium auto,months since last claim,months since policy inception,number of open complaints,number of policies,total claim amount
count,9134.000000,9134.000000,9134.000000,9134.000000,9134.000000,9134.000000,9134.000000,9134.000000
mean,8004.940475,37657.380009,93.219291,15.097000,48.064594,0.384388,2.966170,434.088794
std,6870.967608,30379.904734,34.407967,10.073257,27.905991,0.910384,2.390182,290.500092
min,1898.007675,0.000000,61.000000,0.000000,0.000000,0.000000,1.000000,0.099007
25%,3994.251794,0.000000,68.000000,6.000000,24.000000,0.000000,1.000000,272.258244
50%,5780.182197,33889.500000,83.000000,14.000000,48.000000,0.000000,2.000000,383.945434
75%,8962.167041,62320.000000,109.000000,23.000000,71.000000,0.000000,4.000000,547.514839
max,83325.381190,99981.000000,298.000000,35.000000,99.000000,5.000000,9.000000,2893.239678

In [9]:
#Categorical
data.describe(include=[np.object])

,customer,state,response,coverage,education,effective to date,employmentstatus,gender,location code,marital status,policy type,policy,renew offer type,sales channel,vehicle class,vehicle size
count,9134,9134,9134,9134,9134,9134,9134,9134,9134,9134,9134,9134,9134,9134,9134,9134
unique,9134,5,2,3,5,59,5,2,3,3,3,9,4,4,6,3
top,JC80093,California,No,Basic,Bachelor,1/10/11,Employed,F,Suburban,Married,Personal Auto,Personal L3,Offer1,Agent,Four-Door Car,Medsize
freq,1,3150,7826,5568,2748,195,5698,4658,5779,5298,6788,3426,3752,3477,4621,6424

In [10]:
#Check and deal with NaN values.
round(data.isna().sum()/len(data),4)*100

customer                         0.0
state                            0.0
customer lifetime value          0.0
response                         0.0
coverage                         0.0
education                        0.0
effective to date                0.0
employmentstatus                 0.0
gender                           0.0
income                           0.0
location code                    0.0
marital status                   0.0
monthly premium auto             0.0
months since last claim          0.0
months since policy inception    0.0
number of open complaints        0.0
number of policies               0.0
policy type                      0.0
policy                           0.0
renew offer type                 0.0
sales channel                    0.0
total claim amount               0.0
vehicle class                    0.0
vehicle size                     0.0
dtype: float64

In [11]:
#Datetime format- Extract the months from the dataset and store in a separate column. Then filter the data to show only the information for the first quarter , ie Jan Feb and March
data['effective to date'] = pd.to_datetime(data['effective to date'], errors='coerce')
data.head(3)

,customer,state,customer lifetime value,response,coverage,education,effective to date,employmentstatus,gender,income,...,months since policy inception,number of open complaints,number of policies,policy type,policy,renew offer type,sales channel,total claim amount,vehicle class,vehicle size
0,BU79786,Washington,2763.519279,No,Basic,Bachelor,2011-02-24,Employed,F,56274,...,5,0,1,Corporate Auto,Corporate L3,Offer1,Agent,384.811147,Two-Door Car,Medsize
1,QZ44356,Arizona,6979.535903,No,Extended,Bachelor,2011-01-31,Unemployed,F,0,...,42,0,8,Personal Auto,Personal L3,Offer3,Agent,1131.464935,Four-Door Car,Medsize
2,AI49188,Nevada,12887.431650,No,Premium,Bachelor,2011-02-19,Employed,F,48767,...,38,0,2,Personal Auto,Personal L3,Offer1,Agent,566.472247,Two-Door Car,Medsize

In [12]:
list(map(lambda x:x.strftime(format='%B'), data['effective to date']))

['February',
 'January',
 'February',
 'January',
 'February',
 'January',
 'February',
 'January',
 'January',
 'February',
 'February',
 'January',
 'February',
 'January',
 'January',
 'January',
 'February',
 'January',
 'February',
 'January',
 'February',
 'January',
 'January',
 'February',
 'February',
 'January',
 'February',
 'February',
 'February',
 'February',
 'February',
 'January',
 'January',
 'January',
 'February',
 'January',
 'January',
 'February',
 'January',
 'February',
 'January',
 'January',
 'January',
 'February',
 'February',
 'January',
 'January',
 'January',
 'February',
 'January',
 'January',
 'January',
 'February',
 'February',
 'January',
 'February',
 'February',
 'February',
 'January',
 'February',
 'January',
 'January',
 'January',
 'January',
 'January',
 'January',
 'January',
 'January',
 'January',
 'January',
 'February',
 'February',
 'February',
 'February',
 'January',
 'February',
 'February',
 'February',
 'February',
 'February',
 'January',
 'February',
 'January',
 'January',
 'January',
 'February',
 'January',
 'January',
 'February',
 'February',
 'January',
 'February',
 'January',
 'February',
 'January',
 'February',
 'February',
 'February',
 'January',
 'February',
 'January',
 'January',
 'January',
 'February',
 'February',
 'January',
 'January',
 'January',
 'January',
 'February',
 'February',
 'February',
 'February',
 'February',
 'February',
 'February',
 'February',
 'January',
 'January',
 'February',
 'February',
 'January',
 'January',
 'January',
 'February',
 'January',
 'February',
 'January',
 'January',
 'February',
 'January',
 'January',
 'January',
 'January',
 'February',
 'January',
 'January',
 'January',
 'February',
 'January',
 'January',
 'February',
 'January',
 'February',
 'February',
 'January',
 'January',
 'January',
 'February',
 'February',
 'January',
 'February',
 'February',
 'February',
 'February',
 'February',
 'January',
 'January',
 'January',
 'January',
 'February',
 'February',
 'February',
 'January',
 'February',
 'February',
 'January',
 'January',
 'January',
 'January',
 'January',
 'January',
 'January',
 'January',
 'February',
 'January',
 'February',
 'January',
 'February',
 'January',
 'February',
 'January',
 'February',
 'January',
 'January',
 'February',
 'January',
 'February',
 'January',
 'February',
 'January',
 'February',
 'January',
 'January',
 'January',
 'January',
 'February',
 'February',
 'February',
 'February',
 'January',
 'February',
 'February',
 'January',
 'February',
 'January',
 'January',
 'January',
 'January',
 'January',
 'January',
 'February',
 'January',
 'February',
 'February',
 'January',
 'February',
 'February',
 'January',
 'January',
 'January',
 'February',
 'February',
 'January',
 'January',
 'January',
 'February',
 'February',
 'February',
 'February',
 'February',
 'February',
 'February',
 'February',
 'February',
 'January',
 'February',
 'February',
 'February',
 'January',
 'February',
 'January',
 'February',
 'February',
 'January',
 'February',
 'February',
 'January',
 'January',
 'January',
 'February',
 'February',
 'February',
 'January',
 'February',
 'February',
 'February',
 'January',
 'February',
 'February',
 'February',
 'February',
 'January',
 'February',
 'February',
 'January',
 'February',
 'February',
 'January',
 'January',
 'January',
 'January',
 'February',
 'February',
 'February',
 'February',
 'January',
 'February',
 'January',
 'February',
 'January',
 'January',
 'February',
 'February',
 'February',
 'January',
 'February',
 'February',
 'February',
 'January',
 'January',
 'January',
 'January',
 'January',
 'January',
 'January',
 'January',
 'January',
 'February',
 'January',
 'January',
 'February',
 'February',
 'February',
 'January',
 'February',
 'February',
 'January',
 'February',
 'January',
 'February',
 'January',
 'February',
 'January',
 'January',
 'February',
 'February',
 'January',
 'January',
 'January',
 'February',
 'February',
 'January',
 'February',
 'February',
 'January',
 'February',
 'February',
 'January',
 'January',
 'January',
 'February',
 'February',
 'February',
 'January',
 'February',
 'January',
 'February',
 'January',
 'February',
 'January',
 'February',
 'February',
 'February',
 'February',
 'January',
 'February',
 'February',
 'January',
 'January',
 'January',
 'January',
 'January',
 'January',
 'February',
 'January',
 'January',
 'January',
 'February',
 'January',
 'February',
 'January',
 'February',
 'February',
 'February',
 'February',
 'January',
 'February',
 'February',
 'January',
 'January',
 'February',
 'January',
 'January',
 'February',
 'February',
 'February',
 'January',
 'February',
 'February',
 'January',
 'February',
 'February',
 'January',
 'January',
 'February',
 'January',
 'February',
 'January',
 'February',
 'January',
 'February',
 'January',
 'January',
 'February',
 'January',
 'February',
 'January',
 'February',
 'February',
 'January',
 'January',
 'January',
 'January',
 'February',
 'January',
 'January',
 'February',
 'January',
 'January',
 'January',
 'January',
 'January',
 'February',
 'February',
 'February',
 'January',
 'January',
 'February',
 'January',
 'February',
 'February',
 'January',
 'January',
 'February',
 'January',
 'January',
 'February',
 'February',
 'January',
 'February',
 'January',
 'January',
 'January',
 'February',
 'February',
 'February',
 'February',
 'February',
 'January',
 'January',
 'February',
 'January',
 'January',
 'January',
 'January',
 'February',
 'January',
 'January',
 'January',
 'January',
 'February',
 'January',
 'January',
 'February',
 'January',
 'January',
 'January',
 'February',
 'February',
 'January',
 'February',
 'January',
 'January',
 'January',
 'January',
 'January',
 'January',
 'January',
 'February',
 'January',
 'January',
 'January',
 'February',
 'February',
 'February',
 'January',
 'February',
 'January',
 'January',
 'January',
 'February',
 'February',
 'February',
 'January',
 'January',
 'January',
 'January',
 'February',
 'January',
 'February',
 'January',
 'January',
 'January',
 'February',
 'February',
 'February',
 'January',
 'January',
 'January',
 'February',
 'February',
 'January',
 'February',
 'February',
 'January',
 'February',
 'January',
 'January',
 'February',
 'February',
 'January',
 'February',
 'January',
 'January',
 'February',
 'January',
 'January',
 'February',
 'January',
 'February',
 'February',
 'February',
 'February',
 'February',
 'February',
 'February',
 'February',
 'February',
 'January',
 'January',
 'January',
 'January',
 'February',
 'January',
 'February',
 'February',
 'January',
 'February',
 'February',
 'February',
 'January',
 'February',
 'January',
 'February',
 'February',
 'February',
 'January',
 'January',
 'January',
 'February',
 'February',
 'January',
 'February',
 'January',
 'February',
 'January',
 'January',
 'February',
 'February',
 'January',
 'January',
 'February',
 'February',
 'January',
 'January',
 'January',
 'January',
 'January',
 'February',
 'January',
 'January',
 'January',
 'February',
 'January',
 'February',
 'February',
 'January',
 'February',
 'January',
 'February',
 'February',
 'January',
 'February',
 'January',
 'January',
 'January',
 'February',
 'January',
 'February',
 'February',
 'February',
 'February',
 'February',
 'February',
 'January',
 'January',
 'February',
 'January',
 'February',
 'February',
 'February',
 'February',
 'February',
 'January',
 'January',
 'February',
 'January',
 'February',
 'February',
 'February',
 'January',
 'January',
 'January',
 'January',
 'January',
 'January',
 'February',
 'February',
 'February',
 'January',
 'February',
 'January',
 'February',
 'January',
 'January',
 'January',
 'January',
 'February',
 'January',
 'January',
 'January',
 'February',
 'January',
 'February',
 'February',
 'January',
 'February',
 'February',
 'February',
 'February',
 'February',
 'February',
 'February',
 'January',
 'January',
 'January',
 'January',
 'February',
 'January',
 'February',
 'January',
 'January',
 'January',
 'February',
 'January',
 'February',
 'January',
 'January',
 'February',
 'January',
 'January',
 'January',
 'January',
 'January',
 'February',
 'January',
 'January',
 'January',
 'January',
 'February',
 'January',
 'January',
 'February',
 'January',
 'February',
 'February',
 'January',
 'January',
 'January',
 'January',
 'January',
 'January',
 'January',
 'January',
 'January',
 'January',
 'February',
 'January',
 'January',
 'January',
 'January',
 'February',
 'January',
 'January',
 'February',
 'January',
 'January',
 'January',
 'January',
 'January',
 'January',
 'February',
 'January',
 'February',
 'January',
 'February',
 'February',
 'January',
 'January',
 'February',
 'January',
 'January',
 'February',
 'January',
 'January',
 'February',
 'January',
 'February',
 'February',
 'January',
 'February',
 'January',
 'January',
 'February',
 'January',
 'February',
 'February',
 'January',
 'February',
 'January',
 'February',
 'February',
 'February',
 'February',
 'February',
 'January',
 'February',
 'February',
 'January',
 'February',
 'February',
 'January',
 'February',
 'February',
 'February',
 'February',
 'February',
 'January',
 'February',
 'January',
 'January',
 'February',
 'February',
 'February',
 'January',
 'February',
 'February',
 'January',
 'January',
 'January',
 'January',
 'January',
 'February',
 'January',
 'January',
 'January',
 'January',
 'February',
 'February',
 'January',
 'January',
 'January',
 'February',
 'January',
 'January',
 'February',
 'January',
 'January',
 'January',
 'January',
 'February',
 'January',
 'February',
 'January',
 'February',
 'January',
 'February',
 'January',
 'February',
 'February',
 'January',
 'January',
 'February',
 'February',
 'January',
 'February',
 'February',
 'January',
 'January',
 'January',
 'January',
 'January',
 'January',
 'January',
 'January',
 'February',
 'February',
 'February',
 'January',
 'February',
 'February',
 'February',
 'February',
 'February',
 'January',
 'February',
 'January',
 'February',
 'February',
 'January',
 'January',
 'January',
 'January',
 'February',
 'January',
 'January',
 'January',
 'January',
 'February',
 'January',
 'February',
 'February',
 'January',
 'February',
 'January',
 'February',
 'January',
 'February',
 'February',
 'January',
 'January',
 'February',
 'February',
 'January',
 'January',
 'February',
 'February',
 'January',
 'January',
 'January',
 'January',
 'January',
 'February',
 'February',
 'January',
 'February',
 'February',
 'January',
 'January',
 'February',
 'January',
 'February',
 'January',
 'January',
 'February',
 'January',
 'January',
 'February',
 'February',
 'January',
 'January',
 'February',
 'January',
 'February',
 'January',
 'January',
 'February',
 'January',
 'February',
 'February',
 'January',
 'February',
 'January',
 'January',
 'February',
 'January',
 'February',
 'January',
 'February',
 'January',
 'February',
 'February',
 'January',
 'February',
 'January',
 'January',
 'February',
 'January',
 'January',
 'January',
 'January',
 'January',
 'February',
 'January',
 'February',
 'January',
 'January',
 'January',
 'February',
 'February',
 'January',
 'February',
 'January',
 'January',
 'February',
 'February',
 'February',
 'January',
 'January',
 'January',
 'January',
 'January',
 'January',
 'January',
 'February',
 'January',
 'February',
 'February',
 'January',
 'January',
 'January',
 'January',
 'January',
 'February',
 'January',
 'January',
 'February',
 'February',
 'January',
 'February',
 'February',
 'February',
 'January',
 'January',
 'January',
 'February',
 'January',
 'January',
 'January',
 'February',
 'February',
 'February',
 'January',
 'February',
 'January',
 'February',
 'January',
 'January',
 'February',
 'January',
 'January',
 'February',
 'February',
 'January',
 'February',
 'January',
 'February',
 'February',
 'January',
 'January',
 'January',
 'January',
 'February',
 'January',
 'January',
 'February',
 'January',
 'February',
 'February',
 'February',
 'January',
 'January',
 'February',
 'February',
 'February',
 'January',
 'January',
 'January',
 'January',
 'February',
 'January',
 'February',
 'February',
 'February',
 'February',
 'January',
 'February',
 'February',
 'February',
 ...]

In [13]:
data['month']=np.array(list(map(lambda x:x.strftime(format='%B'), data['effective to date'])))
data.head(3)

,customer,state,customer lifetime value,response,coverage,education,effective to date,employmentstatus,gender,income,...,number of open complaints,number of policies,policy type,policy,renew offer type,sales channel,total claim amount,vehicle class,vehicle size,month
0,BU79786,Washington,2763.519279,No,Basic,Bachelor,2011-02-24,Employed,F,56274,...,0,1,Corporate Auto,Corporate L3,Offer1,Agent,384.811147,Two-Door Car,Medsize,February
1,QZ44356,Arizona,6979.535903,No,Extended,Bachelor,2011-01-31,Unemployed,F,0,...,0,8,Personal Auto,Personal L3,Offer3,Agent,1131.464935,Four-Door Car,Medsize,January
2,AI49188,Nevada,12887.431650,No,Premium,Bachelor,2011-02-19,Employed,F,48767,...,0,2,Personal Auto,Personal L3,Offer1,Agent,566.472247,Two-Door Car,Medsize,February

In [ ]:
#no filter necessary since all data is already in Q1